.product-list{
    max-width: 700px; /* para quando a tela for muito grandem ira ficar centralizado*/
    margin: 20px auto 0; 
    padding: 20px; /*Para quando for reduzida a pagina ele não ficar grudado nas laterais*/
}
/*Item of List*/
.product-list article{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;

}

/*Paragrafo*/
.product-list article p {
    font-size: 16;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.product-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color:#da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-list article a:hover {
    background: #da552f;
    color: #fff;
    transition: all 0.3s; /* Adicionando a todos os efeitos um transição de 0.3 segunds */
    

}

.product-list .actions{
    display: flex;
    justify-content: space-between; /*Para jogar um btn totalmente para a esquerda e o outro para direita*/
    margin-bottom: 20px;
    
}

.product-list .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Hover incialmente com uma leve opacidade para diferenciar ao passar o mouse*/
.product-list .actions button:hover {
    opacity: 0.7;
}

/*Adicioando tratamento visual ao bnt de netxPage e prevPage conforme a prop disabled
Sendo assim quando disabled == true; aplica o tratamento abaixo
*/
.product-list .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}

/*Iremos forçar a opacidade de 0.5 quando o o button tiver como disabled == true*/
.product-list .actions button[disabled]:hover{
    opacity: 0.5;
}

